spring:
  application:
    name: camunda-study
#  datasource:
#    url: jdbc:mysql://localhost:3306/camunda_db?useUnicode=true&characterEncoding=utf8
#    username: root
#    password: 123456
#    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 8080

camunda.bpm:
  admin-user:
    id: demo
    password: demo
    firstName: Demo
  filter:
    create: All tasks